/* Bai 1 */
#bai1 {
  margin: auto;
  border-spacing: 0;
}

#bai1 td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 40px;
  height: 40px;
  margin: 0;
  font-weight: bold;
}

#bai1 tr:first-child td, #bai1 tr:not(:first-child) td:first-child {
  text-align: center;
  background-color: #FFB300;
}

#bai1 tr:nth-child(2n+2) td:nth-child(2n+3), #bai1 tr:nth-child(2n+3) td:nth-child(2n+2) {
  background-color: black;
}

/* Bai 2 */
#bai2 {
  margin: auto;
  border-collapse: collapse;
}

#bai2 caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #1841FF;
  margin: 15px;
}

#bai2 th, #bai2 td {
  width: 60px;
  height: 30px;
  text-align: center;
}

#bai2 thead tr:first-child {
  color: #f3f3f3;
}

#bai2 thead tr:first-child th:first-child {
  background-color: #FF2600;
}

#bai2 thead tr:first-child th:last-child {
  background-color: #0433FF;
}

#bai2 thead tr:first-child th:not(:first-child):not(:last-child) {
  background-color: #FFB300;
}

#bai2 thead tr:nth-child(2) th:first-child, #bai2 tbody tr td:first-child  {
  color: #FF2600;
}

#bai2 thead tr:nth-child(2) th:last-child, #bai2 tbody tr td:last-child {
  color: #0433FF;
}

#bai2 tbody td {
  border: 2px inset #B6B6B6;
}

#bai2 tbody td sub {
  color: #000000;
}
